.loginMainContainer{
    /* background-color: whitesmoke; */
 background-image: url('../../img/background.png') ;
      background-size: cover;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height:100vh;
      width: 100%;
      position:fixed;
  }
  .loginFormContainer{
       background-image: url('../../img/form.jpeg'); 
      background-size: cover;
      height: 65vh;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: row;
      border-radius: 2vh;
      box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .loginForm{
      /* margin: 10rem 7rem 7rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:80vh;
    width:30vw;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter:blur(8.5px);
    border-radius: 10px;
    color:#ffffff;
    text-transform:uppercase;
    lette-spacing:0.4rem; */
      background-color:white;
      box-shadow: 6px 6px 6px 6px rgba(0.3, 0.3, 0.3, 0.3);
      height: 72vh;
      width: 50%;
      margin-left: 8%;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      border-radius: 1vh;
  }
  .loginForm h1{
      margin-bottom: 60px;
  }
  
  .loginImage{
      /* background-image: url(''); */
      background: none;
      width: 50%;
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .logoImage{
      height: auto;
      width: 50vh;
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
      margin-bottom: 10px;
      margin-right: 5rem;
  }
  .inputContainer
  {
       height: 5.3vh;
       width: 70%; 
       border-bottom: 0.4vh solid #1d912b;
       margin-bottom: 6%;
       display: flex;
       flex-direction: row;
       align-items: center;
  }
  .input
  {
      background-color:white;
      width: 85%;
      height: 5vh;
      font-size: 2vh;
      border: 0;
      outline: none;
      color: #37352f;
      text-indent: 2%;
  }
  .inputContainer1
  {
       height: 5.3vh;
       width: 70%; 
       border-bottom: 0.4vh solid #1d912b;
       display: flex;
       flex-direction: row;
       align-items: center;
  }
  .input1
  {
      background-color: white;
      width: 70%;
      height: 5vh;
      font-size: 2vh;
      border: 0;
      outline: none;
      color: #37352f;
      text-indent: 4%;
  }
  .loginButton{
      background-color: #1d912b;
      color:#fff;
      height: 6.5vh;
      width: 35%;
      border-radius: 4vh;
      outline: 0;
      cursor:pointer;
      font-weight: bold;
      border: #176cbb;
      font-size: large;
      box-shadow: 0 8px 6px -6px black;
  }
  .forgetPassword{
      height: fit-content;
      width:70%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 7%;
  }
  .newUser{
      height: fit-content;
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: row;
  }
  .signup{
      color: #1d912b;
      font-weight: bold;
      font-style: italic;
      margin-left: 0.5vh;
  }